{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Students with Over 30 ECTS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Students with Over 30 ECTS</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Total ECTS</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.total_ects }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
