{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <div class="nav-left">
            <a href="{% url 'success' %}">Home</a>
            <a href="{% url 'professor_subjects' %}">Subjects</a>

        </div>
        <div class="nav-right">
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h2> Students who enrolled in {{ subject.name }}</h2>
    {% if enrolled_students %}
    <ul>
        {% for student in enrolled_students %}
        <li>{{ student.first_name }} {{ student.last_name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No enrolled students for this subject.</p>
    {% endif %}
</body>

</html>